{% extends "base.html" %}

{% block content %}
    <h2>Submit New Quote</h2>
    <form method="POST" action="{{ url_for('create') }}">
        <div class="form-group">
            <label for="name">Who said it:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="quote">Quote:</label>
            <textarea id="quote" name="quote" rows="2" required></textarea>
        </div>
        <div class="form-group">
            <label for="submitter">Who are you:</label>
            <input type="text" id="submitter" name="submitter" required>
        </div>
        <button type="submit">Submit Quote</button>
    </form>

    <h2><a href="/quotes">View all quotes</a></h2>

    <h2>
        <label>
            <a id="person_link" href="">View quotes said or submitted by a person (below)</a>
            <input type='text' id="person" name="person" placeholder="Enter name">
            <script>
                const person = document.getElementById('person');
                const link = document.getElementById('person_link');
                person.addEventListener('input', () => {
                    // Customize your base URL here
                    link.href = "/view-person/" + person.value;
                });
            </script>
        </label>

    </h2>
{% endblock %}