{% extends "base.html" %}

{% block content %}
    <h2>Submit New Quote</h2>
    <form method="POST" action="{{ url_for('create') }}">
        <div class="form-group">
            <label for="name">Who said it:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="quote">Quote:</label>
            <textarea id="quote" name="quote" rows="2" required></textarea>
        </div>
        <div class="form-group">
            <label for="submitter">Who are you:</label>
            <input type="text" id="submitter" name="submitter" required>
        </div>
        <button type="submit">Submit Quote</button>
    </form>

    <div class="quote-list">
        <h2>Existing Quotes</h2>
        {% if quotes %}
            {% for quote in quotes %}
                <div class="quote">
                    <h3><a href="{{ url_for('view_quote', quote_id=quote.id) }}">
                        {% if quote.quote[0]=='"' %}
                        {{ quote.quote[:100] }}{% if quote.quote|length > 100 %}...{% endif %}
                        {% else %}
                        "{{ quote.quote[:100] }}{% if quote.quote|length > 100 %}...{% endif %}"
                        {% endif %}
                    </a></h3>
                    <p>-{{ quote.name }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No quotes yet.</p>
        {% endif %}
    </div>
{% endblock %}