{% extends "base.html" %}

{% block content %}
    {% if by_quotes | length != 0 %}
        <div>
            <h3>Quotes by {{ person }}:</h3>
            {% for quote in by_quotes %}
                {% with q=quote %}{% include "quote_block.html" %}{% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    {% if from_quotes | length != 0 %}
        <div>
            <h3>Quotes submitted by {{ person }}:</h3>
            {% for quote in from_quotes %}
                {% with q=quote %}{% include "quote_block.html" %}{% endwith %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}